## **Pizza Delivery Problem**

# **Importing Libraries**

In [ ]:
#Import Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix,roc_curve, roc_auc_score, precision_score, recall_score, precision_recall_curve
from sklearn.metrics import f1_score
sns.set()

In [ ]:
#Load the two datasets as given and store it as train data nad val data
data = pd.read_excel('A.xlsx')

# **Exploratory Data Analysis**

In [ ]:
data.head()

   Unnamed: 0  Customer ID  ...  KID_CATEGORY_DESC     Order Create ts
0           0           98  ...                  1 2021-02-10 20:41:57
1           1           98  ...                  1 2021-02-10 20:41:06
2           2           77  ...                 3+ 2021-02-10 20:40:28
3           3          114  ...       None/Unknown 2021-02-10 20:40:15
4           4           77  ...                 3+ 2021-02-10 20:40:00

[5 rows x 12 columns]

In [ ]:
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data.head()

   Customer ID     Order ID  ...  KID_CATEGORY_DESC     Order Create ts
0           98  26984951769  ...                  1 2021-02-10 20:41:57
1           98  27021122253  ...                  1 2021-02-10 20:41:06
2           77  27031461648  ...                 3+ 2021-02-10 20:40:28
3          114  27057646637  ...       None/Unknown 2021-02-10 20:40:15
4           77  27057815761  ...                 3+ 2021-02-10 20:40:00

[5 rows x 11 columns]

In [ ]:
#Checking for non-null value count
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9777 entries, 0 to 9776
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer ID          9777 non-null   int64
 1   Order ID             9777 non-null   int64
 2   Qty                  9777 non-null   int64
 3   AGE_DESC             9777 non-null   object
 4   MARITAL_STATUS_CODE  9777 non-null   object
 5   INCOME_DESC          9777 non-null   object
 6   HOMEOWNER_DESC       9777 non-null   object
 7   HH_COMP_DESC         9777 non-null   object
 8   HOUSEHOLD_SIZE_DESC  9777 non-null   object
 9   KID_CATEGORY_DESC    9777 non-null   object
 10  Order Create ts      9777 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 840.3+ KB

In [ ]:
'''Checking the training data to compare the different data points in the set. 
It, holisticly gives a debrief on different data values'''
data.describe()

       Customer ID      Order ID          Qty
count  9777.000000  9.777000e+03  9777.000000
mean     92.981283  3.432110e+10     1.993659
std      57.564466  4.750501e+09     1.589064
min       1.000000  2.698495e+10     1.000000
25%      40.000000  3.067394e+10     1.000000
50%      97.000000  3.299017e+10     1.000000
75%     134.000000  4.028392e+10     2.000000
max     198.000000  4.228991e+10    14.000000

In [ ]:
#To check the variation in data given
data.nunique(axis=0)

Customer ID              68
Order ID               9777
Qty                      14
AGE_DESC                  6
MARITAL_STATUS_CODE       3
INCOME_DESC               9
HOMEOWNER_DESC            5
HH_COMP_DESC              6
HOUSEHOLD_SIZE_DESC       5
KID_CATEGORY_DESC         4
Order Create ts        9777
dtype: int64

In [ ]:
data.isnull().sum(axis = 0)

Customer ID            0
Order ID               0
Qty                    0
AGE_DESC               0
MARITAL_STATUS_CODE    0
INCOME_DESC            0
HOMEOWNER_DESC         0
HH_COMP_DESC           0
HOUSEHOLD_SIZE_DESC    0
KID_CATEGORY_DESC      0
Order Create ts        0
dtype: int64

In [ ]:
data['Qty'].value_counts().sort_values(ascending=False)

1     5422
2     2073
3      971
4      525
5      331
6      202
7      128
8       63
9       26
10      12
11      11
13       5
12       4
14       4
Name: Qty, dtype: int64

In [ ]:
data['INCOME_DESC'].value_counts().sort_values(ascending=False)

35-49K       2277
Under 15K    1577
25-34K       1489
50-74K       1318
75-99K       1197
15-24K        850
100-124K      471
150-174K      330
125-149K      268
Name: INCOME_DESC, dtype: int64

In [ ]:
data['HOMEOWNER_DESC'].value_counts().sort_values(ascending=False)

Homeowner          6149
Unknown            2787
Probable Renter     405
Renter              344
Probable Owner       92
Name: HOMEOWNER_DESC, dtype: int64

In [ ]:
data['HH_COMP_DESC'].value_counts().sort_values(ascending=False)

2 Adults No Kids    3461
2 Adults Kids       2712
Single Female       1641
Single Male         1122
1 Adult Kids         493
Unknown              348
Name: HH_COMP_DESC, dtype: int64

In [ ]:
data['HOUSEHOLD_SIZE_DESC'].value_counts().sort_values(ascending=False)

2     4112
1     2665
3     1282
4      960
5+     758
Name: HOUSEHOLD_SIZE_DESC, dtype: int64

In [ ]:
data['KID_CATEGORY_DESC'].value_counts().sort_values(ascending=False)

None/Unknown    6572
1               1318
2               1129
3+               758
Name: KID_CATEGORY_DESC, dtype: int64

In [ ]:
data['year'] = pd.DatetimeIndex(data['Order Create ts']).year

In [ ]:
data['year'].value_counts().sort_values(ascending=False)

2021    9777
Name: year, dtype: int64

In [ ]:
data['month'] = pd.DatetimeIndex(data['Order Create ts']).month

In [ ]:
data['month'].value_counts().sort_values(ascending=False)

2    9777
Name: month, dtype: int64

In [ ]:
data['day'] = pd.DatetimeIndex(data['Order Create ts']).day

In [ ]:
data['day'].value_counts().sort_values(ascending=False)

7     2616
6     2261
9     1448
8     1435
10    1175
5      842
Name: day, dtype: int64

In [ ]:
data['hour'] = pd.DatetimeIndex(data['Order Create ts']).hour

In [ ]:
data['hour'].value_counts().sort_values(ascending=False)
2,3,4,5,6,7,8,9
10,11,12,0,1,13,14,15
16,17,18,19,20,21,22,23

20    1225
19    1046
21     960
18     843
17     740
22     721
16     511
15     458
23     458
14     439
13     411
0      334
12     315
11     273
1      229
10     187
9      162
2      120
8       95
3       87
7       48
4       47
5       37
6       31
Name: hour, dtype: int64

In [ ]:
#Shows hike in orders on the weekend
data['day'].value_counts().sort_values(ascending=False)

7     2616
6     2261
9     1448
8     1435
10    1175
5      842
Name: day, dtype: int64

In [ ]:
data.head()

   Customer ID     Order ID  Qty AGE_DESC  ...  year month day hour
0           98  26984951769    1    35-44  ...  2021     2  10   20
1           98  27021122253    1    35-44  ...  2021     2  10   20
2           77  27031461648    1    35-44  ...  2021     2  10   20
3          114  27057646637    4    25-34  ...  2021     2  10   20
4           77  27057815761    2    35-44  ...  2021     2  10   20

[5 rows x 15 columns]

In [ ]:
train = data.drop(['Customer ID', 'Order ID', 'Order Create ts', 'year', 'month'], axis=1)

In [ ]:
train.head()

   Qty AGE_DESC MARITAL_STATUS_CODE  ... KID_CATEGORY_DESC day hour
0    1    35-44                   U  ...                 1  10   20
1    1    35-44                   U  ...                 1  10   20
2    1    35-44                   A  ...                3+  10   20
3    4    25-34                   U  ...      None/Unknown  10   20
4    2    35-44                   A  ...                3+  10   20

[5 rows x 10 columns]

In [ ]:
#Find discrete features
dataset = train.copy()
numerical_features = [feature for feature in dataset.columns if dataset[feature].dtypes != 'O']
discrete_feature=[feature for feature in numerical_features if len(dataset[feature].unique())<25 ]
print("Discrete Variables Count: {}".format(len(discrete_feature)))

Discrete Variables Count: 3

In [ ]:
print('The discrete features presennt in the dataset is:', discrete_feature)

The discrete features presennt in the dataset is: ['Qty', 'day', 'hour']

In [ ]:
#Find continous features
continuous_feature=[feature for feature in numerical_features if feature not in discrete_feature]
print("Continuous feature Count {}".format(len(continuous_feature)))

Continuous feature Count 0

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9777 entries, 0 to 9776
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Qty                  9777 non-null   int64
 1   AGE_DESC             9777 non-null   object
 2   MARITAL_STATUS_CODE  9777 non-null   object
 3   INCOME_DESC          9777 non-null   object
 4   HOMEOWNER_DESC       9777 non-null   object
 5   HH_COMP_DESC         9777 non-null   object
 6   HOUSEHOLD_SIZE_DESC  9777 non-null   object
 7   KID_CATEGORY_DESC    9777 non-null   object
 8   day                  9777 non-null   int64
 9   hour                 9777 non-null   int64
dtypes: int64(3), object(7)
memory usage: 764.0+ KB

In [ ]:
#Class is not balanced, describes the imbalance ratio
train['Qty'].value_counts()/train.shape[0]

1     0.554567
2     0.212028
3     0.099315
4     0.053697
5     0.033855
6     0.020661
7     0.013092
8     0.006444
9     0.002659
10    0.001227
11    0.001125
13    0.000511
14    0.000409
12    0.000409
Name: Qty, dtype: float64

In [ ]:
train.head()

   Qty AGE_DESC MARITAL_STATUS_CODE  ... KID_CATEGORY_DESC day hour
0    1    35-44                   U  ...                 1  10   20
1    1    35-44                   U  ...                 1  10   20
2    1    35-44                   A  ...                3+  10   20
3    4    25-34                   U  ...      None/Unknown  10   20
4    2    35-44                   A  ...                3+  10   20

[5 rows x 10 columns]

In [ ]:
def numbers(element):    
    return "".join(filter(str.isnumeric, element))

In [ ]:
train.dtypes

Qty                     int64
AGE_DESC               object
MARITAL_STATUS_CODE    object
INCOME_DESC            object
HOMEOWNER_DESC         object
HH_COMP_DESC           object
HOUSEHOLD_SIZE_DESC    object
KID_CATEGORY_DESC      object
day                     int64
hour                    int64
dtype: object

In [ ]:
import re
for i in range(len(train['HOUSEHOLD_SIZE_DESC'])):
  if str(train['HOUSEHOLD_SIZE_DESC'][i])[-1] == '+':
    train['HOUSEHOLD_SIZE_DESC'][i] = train['HOUSEHOLD_SIZE_DESC'][i][0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
for i in range(len(df['KID_CATEGORY_DESC'])):
  if str(train['KID_CATEGORY_DESC'][i])[-1] == '+':
    train['KID_CATEGORY_DESC'][i] = train['KID_CATEGORY_DESC'][i][0]
  if str(train['KID_CATEGORY_DESC'][i]) == 'None/Unknown':
    train['KID_CATEGORY_DESC'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
train['HOUSEHOLD_SIZE_DESC'] = train['HOUSEHOLD_SIZE_DESC'].astype(int)

In [ ]:
train['KID_CATEGORY_DESC'] = train['KID_CATEGORY_DESC'].astype(int)

In [ ]:
train.head()

   Qty AGE_DESC MARITAL_STATUS_CODE  ... KID_CATEGORY_DESC day hour
0    1    35-44                   U  ...                 1  10   20
1    1    35-44                   U  ...                 1  10   20
2    1    35-44                   A  ...                 3  10   20
3    4    25-34                   U  ...                 0  10   20
4    2    35-44                   A  ...                 3  10   20

[5 rows x 10 columns]

In [ ]:
df.dtypes

Qty                     int64
AGE_DESC               object
MARITAL_STATUS_CODE    object
INCOME_DESC            object
HOMEOWNER_DESC         object
HH_COMP_DESC           object
HOUSEHOLD_SIZE_DESC    object
KID_CATEGORY_DESC      object
day                     int64
hour                    int64
dtype: object

# **Feature Engineering**

In [ ]:
X = train.iloc[:,1:]
y = train.iloc[:,0]

In [ ]:
X.head()

  AGE_DESC MARITAL_STATUS_CODE INCOME_DESC  ... KID_CATEGORY_DESC day  hour
0    35-44                   U      35-49K  ...                 1  10    20
1    35-44                   U      35-49K  ...                 1  10    20
2    35-44                   A    100-124K  ...                 3  10    20
3    25-34                   U      35-49K  ...                 0  10    20
4    35-44                   A    100-124K  ...                 3  10    20

[5 rows x 9 columns]

In [ ]:
y.head()

0    1
1    1
2    1
3    4
4    2
Name: Qty, dtype: int64

In [ ]:
train = df.copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,0] = label_encoder.fit_transform(X_train.iloc[:,0]).astype('float64')
X_test.iloc[:,0] = label_encoder.transform(X_test.iloc[:,0]).astype('float64')

In [ ]:
train['MARITAL_STATUS_CODE'].isnull().sum()

0

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,1] = label_encoder.fit_transform(X_train.iloc[:,1]).astype('float64')
X_test.iloc[:,1] = label_encoder.transform(X_test.iloc[:,1]).astype('float64')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,2] = label_encoder.fit_transform(X_train.iloc[:,2]).astype('float64')
X_test.iloc[:,2] = label_encoder.transform(X_test.iloc[:,2]).astype('float64')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,3] = label_encoder.fit_transform(X_train.iloc[:,3]).astype('float64')
X_test.iloc[:,3] = label_encoder.transform(X_test.iloc[:,3]).astype('float64')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,4] = label_encoder.fit_transform(X_train.iloc[:,4]).astype('float64')
X_test.iloc[:,4] = label_encoder.transform(X_test.iloc[:,4]).astype('float64')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,5] = label_encoder.fit_transform(X_train.iloc[:,5]).astype('float64')
X_test.iloc[:,5] = label_encoder.transform(X_test.iloc[:,5]).astype('float64')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_train.iloc[:,6] = label_encoder.fit_transform(X_train.iloc[:,6]).astype('float64')
X_test.iloc[:,6] = label_encoder.transform(X_test.iloc[:,6]).astype('float64')

In [ ]:
#Checking the correlation of different features present
corr_matrix = X_train.corr().abs()
corr_matrix

                     AGE_DESC  MARITAL_STATUS_CODE  ...       day      hour
AGE_DESC             1.000000             0.034099  ...  0.047425  0.000004
MARITAL_STATUS_CODE  0.034099             1.000000  ...  0.040190  0.017614
INCOME_DESC          0.051994             0.040287  ...  0.021477  0.004368
HOMEOWNER_DESC       0.098377             0.472893  ...  0.026131  0.016609
HH_COMP_DESC         0.263796             0.437001  ...  0.048096  0.005648
HOUSEHOLD_SIZE_DESC  0.208250             0.556129  ...  0.055417  0.010236
KID_CATEGORY_DESC    0.238004             0.414697  ...  0.087916  0.010273
day                  0.047425             0.040190  ...  1.000000  0.155124
hour                 0.000004             0.017614  ...  0.155124  1.000000

[9 rows x 9 columns]

In [ ]:
# Find features with correlation greater than 0.9
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.9)]
print('Columns to be dropped:',to_drop)

Columns to be dropped: ['KID_CATEGORY_DESC']

In [ ]:
# Drop Features with correlation greater than 0.9
X_train = X_train.drop(['KID_CATEGORY_DESC'], axis=1)
X_test = X_test.drop(['KID_CATEGORY_DESC'], axis=1)

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
import matplotlib.pyplot as plt
model = ExtraTreesRegressor()
model.fit(X_train,y_train)

ExtraTreesRegressor()

In [ ]:
# Finding relevant features based on the values of Information gain
from sklearn.feature_selection import SelectKBest
ordered_rank_features=SelectKBest(k='all')
ordered_feature=ordered_rank_features.fit(X_train,y_train)

In [ ]:
dfscores=pd.DataFrame(ordered_feature.scores_,columns=["Score"])
dfcolumns=pd.DataFrame(train.columns)
features_rank=pd.concat([dfcolumns,dfscores],axis=1)
features_rank.columns=['Features','Score']

In [ ]:
# Ranked the features based on the scores
features_rank.nlargest(10,'Score')

              Features      Score
5         HH_COMP_DESC  11.863667
3          INCOME_DESC  11.338868
1             AGE_DESC   8.447354
2  MARITAL_STATUS_CODE   5.373714
4       HOMEOWNER_DESC   4.514907
0                  Qty   3.764615
7    KID_CATEGORY_DESC   1.544228
6  HOUSEHOLD_SIZE_DESC   0.896925

# **Model Training**

In [ ]:
X_train.shape

(7821, 8)

In [ ]:
X_test.shape

(1956, 8)

In [ ]:
# Performing standardisation on numerical data columns before logistic regression
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Implementing Logistic Regression with class weights
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print(np.sqrt(mse))

1.541645193409602

In [ ]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print(np.sqrt(mse))

[07:05:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
1.4613134719852883

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

params={'n_estimators' : [100],
       'max_depth': [3,4,5,7,10,14,18],
       'learning_rate': [0.05, 0.1, 0.15, 0.2, 0.25, 0.3],
       'gamma' : [0.0,0.1,0.2,0.3,0.4,0.5],
       'min_child_weight' : [1,2,3,4,5,7,9,10],
       'colsample_bytree' : [0.3,0.4,0.5,0.6,0.7]}

search = RandomizedSearchCV(estimator = xgb, 
                            param_distributions=params, 
                            random_state=42, 
                            n_iter=3, 
                            cv=5,
                            verbose=3, 
                            n_jobs=-1, 
                            return_train_score=True)
search.fit(X_train, y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits
[07:06:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=5, estimator=XGBRegressor(), n_iter=3, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5, 0.6,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4, 0.5],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3],
                                        'max_depth': [3, 4, 5, 7, 10, 14, 18],
                                        'min_child_weight': [1, 2, 3, 4, 5, 7,
                                                             9, 10],
                                        'n_estimators': [100]},
                   random_state=42, return_train_score=True, verbose=3)

In [ ]:
search.best_estimator_

XGBRegressor(colsample_bytree=0.3, gamma=0.2, learning_rate=0.2, max_depth=5,
             min_child_weight=5)

In [ ]:
xgb_tuned = XGBRegressor(colsample_bytree=0.3, gamma=0.2, learning_rate=0.2, max_depth=5,
             min_child_weight=5)
xgb_tuned.fit(X_train,y_train)

[07:07:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(colsample_bytree=0.3, gamma=0.2, learning_rate=0.2, max_depth=5,
             min_child_weight=5)

In [ ]:
y_pred = xgb_tuned.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print(np.sqrt(mse))

1.457847111147137